.about
{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;

  &__text
  {
    width: 50%;
    text-align: center;
  }

  &__exp
  {
    width: 50%;

    &_plug
    {
      //width: 100%;
    }

    &_canvas
    {
      right: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      //display: none;
    }
  }
}
