<div class="about__text">
  <div class="about__text_by">
    <h1 class="about__text_title">Hi!</h1>
    <img class="about__fly-image" src="../../../assets/mainObj.png" alt="">
  </div>
  <div class="about__me">
    <img src="../../../assets/transtest.png" alt="">
    <h1>I am Egor   -   Creative JS Developer</h1>
  </div>
</div>
<h1 *ngIf="!isDesktop" style="color: white; text-align: center">Use PC for THREE experience</h1>
<div [class.about__exp]="isDesktop" [class.dn]="!isDesktop">
  <h1>CLICK TO EXPLORE</h1>
  <div class="about__preview">
    <div class="about__exp_plug"></div>
  </div>
  <div #explore (click)="toFullScreen()" class="test5">
    <div class="hover-effect-button"></div>
  </div>
  <div style="height: 20%"></div>
  <canvas #canvas (mousemove)="onMouseMove($event)" (click)="onClick($event)" class="about__exp_canvas dn">
    <video #laptopVideo [muted]="true" [loop]="true" src="../../assets/video/houseSham.mp4"></video>
    <video #pcVideo [muted]="true" [loop]="true" src="../../assets/video/GLSL.mp4"></video>
  </canvas>
  <div #exit class="about__exit dn" (click)="doBackMove()">
    <div class="exit-button"></div>
  </div>
  <div class="about__exit" (click)="toSite()">
    <div style="left: 0" class="exit-button"></div>
  </div>
  <div #nav class="about__nav dn">
    <div [nextMove]="nextStep" [prevMove]="prevStep" [defaultMove]="defaultPosition" class="arrows-navigation"></div>
  </div>
  <div #bottomTop class="about__bottom-top dn">
    <div class="bottom-top-navigation"></div>
  </div>
</div>
