<div #circularSlider class="circular-slider circular-slider-demo">
  <div #wrapper class="slider__wrapper">
    <div class="controls">
      <div #btnLeft class="controls__left">
        <div class="icon-wrapper"><fa-icon class="far fa-arrow-alt-circle-left" [icon]="faCircleLeft"></fa-icon></div>
      </div>
      <div #btnRight class="controls__right">
        <div class="icon-wrapper"><fa-icon class="far fa-arrow-alt-circle-right" [icon]="faCircleRight"></fa-icon></div>
      </div>
      <div #btnAutoplay class="controls__autoplay controls__autoplay_running">
        <div class="icon-wrapper">
          <div class="pause"><fa-icon [icon]="faPauseCircle" class="far fa-pause-circle"></fa-icon></div>
          <div class="run"><fa-icon [icon]="faPlayCircle" class="far fa-play-circle"></fa-icon></div>
        </div>
      </div>
    </div>
    <div #slidesHolder class="slides-holder">
      <div class="slides-holder__item slides-holder__item_active"><img src="../../../../assets/slider/cocos.png" alt="img"/></div>
      <div class="slides-holder__item"><img src="../../../../assets/slider/angular.png" alt="img"/></div>
      <div class="slides-holder__item"><img src="../../../../assets/slider/nest.png" alt="img"/></div>
      <div class="slides-holder__item"><img src="../../../../assets/slider/blender.jpg" alt="img"/></div>
      <div class="slides-holder__item"><img src="../../../../assets/slider/git.png" alt="img"/></div>
      <div class="slides-holder__item"><img src="../../../../assets/slider/css.png" alt="img"/></div>
      <div class="slides-holder__item"><img src="../../../../assets/slider/ts.jpg" alt="img"/></div>
      <div class="slides-holder__item"><img src="../../../../assets/slider/react.png" alt="img"/></div>
      <div class="slides-holder__item"><img src="../../../../assets/slider/sql.jpg" alt="img"/></div>
      <div class="slides-holder__item"><img src="../../../../assets/slider/three.jpg" alt="img"/></div>
      <div class="slides-holder__item"><img src="../../../../assets/slider/glsl.png" alt="img"/></div>
    </div>
    <div #descriptionsHolder class="descriptions">
      <div class="descriptions__item descriptions__item_visible">
        <h1>Cocos2dx & CocosCreator</h1>
        <p class="description">I can work with animation, collision, 2D and 3D sprites. Worked 4 months with Cocos2dx and 6 months with CocosCreator. I have several of my minigames.</p>
      </div>
      <div class="descriptions__item">
        <h1>Angular</h1>
        <p class="description">The main framework of MashUpStudio, where I worked for about two years.</p>
      </div>
      <div class="descriptions__item">
        <h1>NestJS</h1>
        <p class="description">Wrote server-side CRUD. Used Angular-NestJS-PostgreeSQL stack via TypeORM.</p>
      </div>
      <div class="descriptions__item">
        <h1>Blender</h1>
        <p class="description">
          I know the basic tools. I can draw simple scenes. I know how to bake textures.</p>
      </div>
      <div class="descriptions__item">
        <h1>Git</h1>
        <p class="description">
          Worked with git for 2 years</p>
      </div>
      <div class="descriptions__item">
        <<h1>CSS</h1>
        <p class="description">I know the basics. I rarely write html css. If stack allows - I use SCSS</p>
      </div>
      <div class="descriptions__item">
        <h1>TypeScript</h1>
        <p class="description">
          I prefer TS. Interfaces, typing and built-in encapsulation makes it more flexible than JS</p>
      </div>
      <div class="descriptions__item">
        <h1>React</h1>
        <p class="description">Worked for 3 months. Created a browser-based multiplayer game.
          React-Redux-NestJS-SocketIO stack.</p>
      </div>
      <div class="descriptions__item">
        <h1>SQL & noSQL</h1>
        <p class="description">
          Worked with PostreSQL, MongoDB, FireBase. From the first work, there was a program that allows you to build SQL queries :)</p>
      </div>
      <div class="descriptions__item">
        <h1>THREE JS</h1>
        <p class="description">I met recently. Quite an interesting library.</p>
      </div>
      <div class="descriptions__item">
        <h1>GLSL</h1>
        <p class="description">I'm learning GLSL. I write simple shaders.</p>
      </div>
    </div>
  </div>
</div>
