<div class="work__plug"></div>
<div class="work__text">
  <h1 class="work__text_title">My Journey as a JS Developer</h1>
</div>
<div class="work__container">
  <div class="work__wrapper">
    <div class="work__deck" (click)="next()"><fa-icon [icon]="faArrowRight"></fa-icon></div>
  </div>
  <div class="work__area">
    <div *ngIf="step === 0" class="card-exp card-active"
         [img]="work.img"
         [title]="work.title"
         [date]="work.date"
         [role]="work.role"
         [achievements]="work.achievements"
         [technologies]="work.technologies"
         [challenge]="work.challenge"
    ></div>
    <div *ngIf="step %2 === 0 && step != 0" class="card-exp card-active"
       [img]="work.img"
       [title]="work.title"
       [date]="work.date"
       [role]="work.role"
       [achievements]="work.achievements"
       [technologies]="work.technologies"
       [challenge]="work.challenge"
    ></div>
    <div *ngIf="step %2 != 0" class="card-exp card-active"
         [img]="work.img"
         [title]="work.title"
         [date]="work.date"
         [role]="work.role"
         [achievements]="work.achievements"
         [technologies]="work.technologies"
         [challenge]="work.challenge"
    ></div>
  </div>
  <div class="work__plug-black"></div>
  <div class="work__plug"></div>
</div>

<div class="work__mobile">
  <div (click)="next()" class="card-exp"
       [img]="work.img"
       [title]="work.title"
       [date]="work.date"
       [role]="work.role"
       [achievements]="work.achievements"
       [technologies]="work.technologies"
       [challenge]="work.challenge"
  ></div>
</div>
<div class="work__plug-mobile"></div>



