$size: 60px;
$borderSize: 2px;
$borderColor: rgba(white, 1);
$speed: .5s;

.close-button {

  &__container {

    width: $size;
    height: $size;
    position: absolute;
    right: 5%;
    top: 5%;
    background: #455A64;
    border-radius: 50%;
    box-shadow: 0 0 20px -5px rgba(white, .5);
    transition: .25s ease-in-out;
    cursor: pointer;
    animation: fade-in $speed ease-out .25s both;
    z-index: 102;
    @keyframes fade-in {
      from {
        opacity: 0;
        transform: scale(1.1)
      }
  }
    &:hover {
      background: #37474F;
      span {
        width: 15px;
      }
    }
}
  &__circle {
    path {
      stroke: $borderColor;
      fill: none;
      stroke-width: 1px;
      stroke-linecap: round;
      animation: progress $speed ease-out .25s both;
      @keyframes progress {
        from {
          stroke-dasharray: 0;
        }
      }
    }
  }
}


span {
  display: block;
  width: calc((60px/4) - 2px);
  height: 2px;
  background: $borderColor;
  box-shadow: 0 0 20px -5px rgba(white, .5);
  border-radius: 20px;
  position: absolute;
  $padding: 20px;
  transition: .25s ease-in-out;
  animation: slide-in $speed ease-in-out .25s both;
  @keyframes slide-in {
    from {
      width: 0;
    }
  }

  &:nth-child(1) {
    top: calc(20px - (2px/2));
    left: 20px;
    transform: rotate(45deg);
    transform-origin: top left;
  }

  &:nth-child(2) {
    top: calc(20px - (2px/2));
    right: 20px;
    transform: rotate(-45deg);
    transform-origin: top right;
  }

  &:nth-child(3) {
    bottom: calc(20px - (2px/2));
    left: 20px;
    transform: rotate(-45deg);
    transform-origin: bottom left;
  }

  &:nth-child(4) {
    bottom: calc(20px - (2px/2));
    right: 20px;
    transform: rotate(45deg);
    transform-origin: bottom right;
  }


}




